export(k.epan)
export(kernel10)
export(kernel2)
export(kernel4)
export(kernel6)
export(kernel8)
export(margint.cl)
export(margint.rob)
export(my.norm.2)
export(psi.huber)
export(psi.huber.w)
export(psi.tukey)
export(psi.w)


exportPattern("^[[:alpha:]]+")
useDynLib(RMI,ini_mu_pos_multi)
useDynLib(RMI,kernel_cl_alpha_multi)
useDynLib(RMI,kernel_cl_lin_multi)
useDynLib(RMI,kernel_cl_pos_multi)
useDynLib(RMI,kernel_huber_alpha_multi)
useDynLib(RMI,kernel_huber_lin_multi)
useDynLib(RMI,kernel_huber_pos_multi)
useDynLib(RMI,kernel_tukey_alpha_multi)
useDynLib(RMI,kernel_tukey_lin_multi)
useDynLib(RMI,kernel_tukey_pos_multi)
